*{
	box-sizing: border-box;
}

body, footer, header{
    font-family: $font-family-base;
}

// utils
// font
.bold{
    font-weight: bold;
}

.f-14{
    font-size: 14px;
}

.f-24{
    font-size: 24px;
}

// spacing

.mr-8{
    margin-right: 8px;
}

.mr-18{
    margin-right: 18px;
}

.mr-25{
    margin-right: 25px;
}

//color

// .black{
//     color: $black;
// }

// .grey{
//     color: $grey;
// }

// .white{
//     color: white;
// }

// .primary-color{
//     color: $primary-color;
// }





