<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->
    
    <nav class="bg-light d-flex flex-column justify-content-between">
      <!-- nav items -->
      <div>
        <a href="./index.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg" alt="website log" class="img-fluid"></a>
        <a class="text-dark mt-5" href="#">
          <div class="d-flex align-items-center fw-bold">
            <span class="material-icons me-3">
              insert_chart
            </span>
            Dashboard
          </div>
        </a>
        <a class="text-dark mt-4" href="#">
          <div class="d-flex align-items-center fw-bold">
            <span class="material-icons me-3">
              question_answer
            </span>
            Question
          </div>
        </a>
        <a class="text-dark mt-4" href="#">
          <div class="d-flex align-items-center fw-bold">
            <span class="material-icons me-3">
              assignment
            </span>
            Assignment
          </div>
        </a>
        <a class="text-dark mt-4" href="#">
          <div class="d-flex align-items-center fw-bold">
            <span class="material-icons me-3">
              video_library
            </span>
            Course
          </div>
        </a>
        <a class="text-success mt-4 nav-active" href="#">
          <div class="d-flex align-items-center fw-bold">
            <span class="material-icons me-3">
              supervisor_account
            </span>
            Admin
          </div>
        </a>
        <a class="text-dark mt-4" href="#">
          <div class="d-flex align-items-center fw-bold">
            <span class="material-icons me-3">
              settings
            </span>
            Settings
          </div>
        </a>
      </div>
      
      <!-- user -->
      <div class="d-flex mt-4 align-items-center">
        <img class="avatar rounded-circle" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="">
        <div class="ms-3">
          <p class="text-dark fw-bold mb-0">Andy Chen</p>
          <p class="fs-14 text-black-50 mb-0">andy0401@gmail.com</p>
        </div>
      </div>
    </nav>

    <main class="main">
      <div class="container">
        <!-- header -->
        <div class="d-flex justify-content-between">
          <div class="d-flex fw-bold align-items-center">
            <p class="mb-0 me-5 fs-4">Admin</p>
            <span class="material-icons text-success me-2">
              add
            </span>
            <p class="mb-0">Add New Admin</p>

            

          </div>
          <div class="d-flex justify-content-between">
            <span class="material-icons me-4 pt-1">
              search
            </span>
            <span class="material-icons me-4 pt-1">
              notifications_active
            </span>
          </div>
        </div>
        <!-- table -->
        <table class="table mt-5">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-flex align-items-center">
                  ID 
                  <span class="text-success material-icons">arrow_downward</span>
                </div>
                
              </th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Verified</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">#1</th>
              <td>Emir Wicks</td>
              <td>emir.wicks@mail.com</td>
              <td>Yes</td>
              <td class="text-end">
                <span class="material-icons me-4">visibility</span>
                <span class="material-icons">edit</span>
              </td>
            </tr>
            <tr>
              <th scope="row">#2</th>
              <td>Zaina Goldsmith</td>
              <td>zaina.goldsmith@mail.com</td>
              <td>Yes</td>
              <td class="text-end">
                <span class="material-icons me-4">visibility</span>
                <span class="material-icons">edit</span>
              </td>
            </tr>
            <tr>
              <th scope="row">#3</th>
              <td>Mahima Lopez</td>
              <td>mahima.lopez@mail.com</td>
              <td>Yes</td>
              <td class="text-end">
                <span class="material-icons me-4">visibility</span>
                <span class="material-icons">edit</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <!-- <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
